/* Border Sections */
.corner {
    padding-top: 3rem;
    padding-bottom: 5rem;

}
.corner1 {
    padding-top: 3rem;
    padding-bottom: 7rem;
}
.corner2 {
    padding-top: 3rem;
    padding-bottom: 5rem;
}
.corner3 {
    padding-top: 3rem;
    padding-bottom: 10rem;
}
.corner4 {
    padding-top: 3rem;
    padding-bottom: 6rem;
}
.corner5 {
    padding-top: 3rem;
    padding-bottom: 4rem;
}
.corner6 {
    padding-top: 3rem;
}   
/* Profile picture */
.profile {
    border-radius: 52px;
background: linear-gradient(145deg, #597e91, #6a96ac);
box-shadow:  25px 25px 50px #4d6d7e,
             -25px -25px 50px #79abc4;
             
}
/* skill */
.skill-header {
    color: #79abc4;

}
.skill-border {
    background-color:#6a96ac;

}
.skill-text {
    text-align: center;

}
/* Text Shadows */
.name {
    text-shadow: 2px 2px #77bbeb;
  }

.title {
    text-shadow: 2px 2px rgb(27, 26, 26);
  }
  /* Skill Section */
  .card{
    padding-top: 3rem;
    padding-bottom: 2rem;
    align-items: center;
  }
  .card-text{
    text-align: center;
  }

 @media (min-width: 768px) and (max-width:1020px){
    #bt {margin-left: 11.5rem ;
        display: inline;
    }
    #li {
       margin-left: 17rem;
       
       
    }
 }

 @media (max-width:768px){
 
    #li {
       margin-left: 3rem;
       
       
    }
 }

 